.Form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid lightgrey;
}

.registerInputItem {
  width: 300px;
}

.introText:first-child {
  margin-top: 60px;
  color: grey;
}
.introText:last-of-type {
  color: grey;
  margin-bottom: 30px;
}

#signUpBtn {
  margin-top: 30px;
  min-width: 120px;
}
